<section>
  <ng-container *ngIf="allCartItems; else CartEmpty">
    <div class="container">
      <div class="bg-main-light p-4 my-4 rounded-3">
        <div class="d-flex justify-content-between align-items-start">
          <div>
            <h2 class="fw-bold">Shop Cart</h2>
            <h3 [style]="'color:var(--main-color);'" class="h4 fw-bold my-3">Total Cart Items Price :
              {{allCartItems.data.totalCartPrice
              | currency:'EGP '}}</h3>
          </div>
          <div>
            <button [swal]="{ title: 'Clear Cart ?', showCancelButton: true }" (confirm)="clearCart()"
              class="btn-main">Clear Cart</button>

          </div>
        </div>
        <div class="text-uppercase fw-bold row text-muted justify-content-end">
          <div class="col-10 d-flex justify-content-evenly">
            <p class="w-100 text-start"><span class="border-bottom border-3">items</span></p>
            <p class="w-100 text-center"><span class="border-bottom border-3">amount</span></p>
            <p class="w-100 text-center"><span class="border-bottom border-3">Totla</span></p>
          </div>
        </div>
        <div *ngFor="let item of allCartItems.data.products" class="row mb-2 pb-2 border-bottom">
          <div class="col-2">
            <img [src]="item.product.imageCover" class="w-100 rounded-3" [alt]="item.product.title">
          </div>
          <div class="col-10">
            <div class="d-flex justify-content-between align-items-center h-100">
              <div>
                <h3 class="fw-bold h5">{{item.product.title | textterm:2}}</h3>
                <p [style]="'color:var(--main-color);'" class="fw-bold h6 mb-2"><span>Item Price: </span>{{item.price |
                  currency:'EGP '}}</p>
                <div>

                  <div class="d-flex justify-content-between align-items-end  mt-5">

                    <button (click)="deleteItem(item.product._id)" class="btn text-main">
                      <i class="fa-solid fa-trash-can"></i><span>Remove</span>
                    </button>

                    <button *ngIf="!currentWishList.includes($any(item.product._id))"
                      (click)="addToWishList(item.product._id)"
                      class="wishListBtn btn-main bg-transparent border-0 d-flex justify-content-between align-items-center "><i
                        class="fa-regular fa-heart fa-lg text-main"></i><span
                        class="text-main fw-bold ms-2">Favorite</span>
                    </button>

                    <button *ngIf="currentWishList.includes($any(item.product._id))"
                      (click)="removeFromWishList(item.product._id)"
                      class="wishListBtn text-danger btn d-flex justify-content-center align-items-center "><i
                        class="fa-solid fa-heart fa-lg"></i>
                    </button>
                  </div>

                </div>
              </div>
              <div class="h3">
                <div>
                  <button (click)="ChangeCount(item.product._id, item.count - 1)"
                    class="mx-2 btn btn-outline-success"><span class="fs-4">-</span></button>
                  <span>{{item.count}}</span>
                  <button (click)="ChangeCount(item.product._id, item.count + 1)"
                    class="mx-2 btn btn-outline-success"><span class="fs-4">+</span></button>
                </div>
              </div>
              <div>
                <div>
                  <h3 class="h5">Total Price:</h3>
                  <p [style]="'color:var(--main-color);'" class="fw-bold h6 mb-2">{{item.price * item.count |
                    currency:'EGP '}}</p>
                </div>
                <button [routerLink]="['/details', item.product._id]" class="btn mt-5"><span
                    class="text-decoration-underline">product details</span></button>
              </div>
            </div>

          </div>

        </div>
        <div class="mb-0 py-4 d-flex justify-content-center">
          <div class="px-3">
            <button (click)="OnlinePayMent()" class="d-block w-100 btn-main fs-4">Online Payment <img
                [style]="'width:40px;'" src="./assets/images/visa-1.svg" alt="vise"></button>
          </div>
          <div class="px-3">
            <button (click)="OnlineCash()" class="d-block btn btn-secondary fs-4">Cash On Delevery <img
                [style]="'width:40px;'" src="./assets/9368523.png" alt="vise"></button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #CartEmpty>
    <div class="container">
      <div class="bg-main-light p-4 my-4 rounded-3 w-75 mx-auto">
        <h2 class="fw-bold">Shop Cart</h2>
        <h3 [style]="'color:var(--main-color);'" class="h4 fw-bold my-3">Total Price :
          {{0
          | currency:'EGP '}}</h3>
        <div class="text-uppercase fw-bold d-flex justify-content-between px-5 text-muted">
          <p class="border-bottom border-3">items</p>
          <p class="border-bottom border-3">count</p>
        </div>
        <div class="row mb-2 pb-2 border-bottom">
          <div class="col-2">
            <img src="../../../assets/images/6430781.webp" class="w-100 rounded-3" alt="cart empty">
          </div>
          <div class="col-10">
            <div class="d-flex justify-content-between align-items-center h-100">
              <div>
                <h3 class="fw-bold h5 alert alert-danger">no products yet !</h3>
                <p [style]="'color:var(--main-color);'" class="fw-bold h6 mb-2">{{00 |
                  currency:'EGP '}}</p>
              </div>
              <div class="h3">
                <div>
                  <button class="mx-2 btn btn-outline-success"><span class="fs-4">-</span></button>
                  <span>0</span>
                  <button class="mx-2 btn btn-outline-success"><span class="fs-4">+</span></button>
                </div>
                <button routerLink="/home" class="btn mt-5"><span class="text-decoration-underline">product
                    details</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</section>