<section>
  <ng-container *ngIf="allCartItems; else CartEmpty">
    <div class="container">
      <div class="bg-main-light p-4 my-4 rounded-3">
        <!-- title and clear -->
        <div class="row d-flex justify-content-between mb-4 align-items-start">
          <div class="col-12 d-flex justify-content-between">
            <h2 class="fw-bold ">Shop Cart</h2>
            <button [swal]="{ title: 'Clear Cart ?', showCancelButton: true }" (confirm)="clearCart()"
              class="btn-main d-block ms-auto">Clear Cart</button>
          </div>
          <div class="col-12">
            <h3 class="h4 fw-bold  row my-3" [style]="'color:var(--main-color);'">
              <span class="col-12 col-md-6 col-lg-4">
                Total Cart Items Price :
              </span>
              <span class="col-12 col-md-4 mt-3 mt-md-0">
                {{allCartItems.data.totalCartPrice | currency:'EGP '}}
              </span>
            </h3>
          </div>
        </div>


        <div class="text-uppercase fw-bold row text-muted justify-content-end">
        </div>
        <div *ngFor="let item of allCartItems.data.products ; index as i" class="row mb-2 pb-2 border-bottom">
          <div class="col-12 col-lg-2">
            <img [src]="item.product.imageCover" class="w-100 rounded-3" [alt]="item.product.title">
          </div>
          <div class="col-12 col-lg-10 my-4 mt-lg-0">


            <div class="col-12 d-flex fw-bold justify-content-between">



            </div>
            <div class="row justify-content-between justify-content-md-end justify-content-lg-between">
              <!-- first Column -->
              <div
                class="col-12 col-md-12 col-lg-4  p-3 p-md-0 d-flex h-100 justify-content-between align-items-center flex-column">
                <p class="w-100 text-center"><span class="border-bottom border-3">Item</span></p>
                <div>
                  <h3 class="fw-bold h5">{{item.product.title | textterm:2}}</h3>
                  <p class="text-main fw-bold h6 mb-2"><span>Item Price: </span>{{item.price
                    |
                    currency:'EGP '}}</p>
                  <div>
                    <ul class="d-flex justify-content-between align-items-end mt-2 mt-md-5 list-unstyled">
                      <li class="deleteBtn">
                        <button (click)="deleteItem(item.product._id)" class="border-0 text-main">
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </li>
                      <li class="wishListBtn">
                        <button *ngIf="!currentWishList.includes($any(item.product._id))"
                          (click)="addToWishList(item.product._id)" class="border-0"><i
                            class="fa-regular fa-heart fa-lg text-main"></i>
                        </button>
                        <button *ngIf="currentWishList.includes($any(item.product._id))"
                          (click)="removeFromWishList(item.product._id)" class="text-danger btn"><i
                            class="fa-solid fa-heart fa-lg"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- second column -->

              <div
                class="col-12 col-md-6 col-lg-4  p-3 p-md-0 d-flex h-100 justify-content-start align-items-center flex-column">
                <p class="w-100 text-center"><span class="border-bottom border-3">Amount</span></p>
                <div class="h3">
                  <button (click)="ChangeCount( item.count - 1 , 'minus' , i)"
                    class="mx-2 btn btn-outline-success"><span class="fs-4">-</span></button>
                  <span>{{item.count}}</span>
                  <button (click)="ChangeCount( item.count + 1, 'plus'  , i)" class="mx-2 btn btn-outline-success"><span
                      class="fs-4">+</span></button>
                </div>
                <div>
                  <button (click)="sendNewCount(item.product._id, item.count)" class="btn-main">Update</button>
                </div>
              </div>



              <!-- third column -->
              <div
                class="col-12 col-md-6 col-lg-4  p-3 p-md-0 d-flex h-100 justify-content-between align-items-center flex-column">
                <p class="w-100 text-center"><span class="border-bottom border-3">Totla</span></p>
                <div>
                  <div class="text-end-lg text-start">
                    <h3 class="h5 fw-bold">Total Price:</h3>
                    <p [style]="'color:var(--main-color);'" class="fw-bold h6 mb-2">{{item.price * item.count |
                      currency:'EGP '}}</p>
                    <button [routerLink]="['/details', item.product._id]" class="btn p-0 mt-5"><span
                        class="text-decoration-underline">product details</span></button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- Payment buttons -->
        <div class="mb-0 py-4 d-flex justify-content-center">
          <div class="px-3">
            <button (click)="OnlinePayMent()" class="d-block w-100 h-100 btn-main fs-4">Online Payment <img
                [style]="'width:40px;'" src="./assets/images/visa-1.svg" alt="vise"></button>
          </div>
          <div class="px-3">
            <button (click)="OnlineCash()" class="d-block btn btn-secondary fs-4 h-100">Cash On Delevery <img
                [style]="'width:40px;'" src="./assets/9368523.png" alt="vise"></button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Place Holder -->
  <ng-template #CartEmpty>
    <div class="container">
      <div class="bg-main-light p-4 my-4 rounded-3 w-75 mx-auto">
        <h2 class="fw-bold">Shop Cart</h2>
        <h3 [style]="'color:var(--main-color);'" class="h4 fw-bold my-3">Total Price :
          {{0
          | currency:'EGP '}}</h3>
        <div class="text-uppercase fw-bold d-flex justify-content-between px-5 text-muted">
          <p class="border-bottom border-3">items</p>
          <p class="border-bottom border-3">count</p>
        </div>
        <div class="row align-items-start mb-2 pb-2 border-bottom">
          <div class="col-12 col-md-6 col-lg-2">
            <img src="./assets/images/6430781.webp" class="w-100 rounded-3" alt="cart empty">
          </div>
          <div class="col-12 col-md-6 col-lg-10">
            <div class="d-flex justify-content-between align-items-start h-100">
              <div>
                <h3 class="fw-bold h5 alert alert-danger">no products yet !</h3>
                <p class="text-main fw-bold h6 mb-2">{{00 |
                  currency:'EGP '}}</p>
              </div>
              <div class="h3">
                <div>
                  <button class="mx-2 btn btn-outline-success"><span class="fs-4">-</span></button>
                  <span>0</span>
                  <button class="mx-2 btn btn-outline-success"><span class="fs-4">+</span></button>
                </div>
                <button routerLink="/home" class="btn mt-5"><span class="text-decoration-underline">product
                    details</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</section>