<section>
  <div class="container p-4 bg-main-light rounded-3">
    <div class="row">
      <div class="col-3">
        <h4><button routerLink="Account-Settings" routerLinkActive="btn-main" class="btn btn-secondary w-100">Account
            Settings</button></h4>
        <h4><button routerLink="Privacy-Settings" routerLinkActive="btn-main" class="btn btn-secondary w-100">Privacy
            Settings</button></h4>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>