<section class="my-5">
  <div class="container bg-main-light rounded-4 p-5 w-75 mx-auto">
    <h2 class="mb-4 fw-bolder">Register Now :</h2>
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
      <div>
        <label class="d-flex justify-content-between align-items-center" for="name">
          <span class="fw-bold">Name:</span>
          <div>
            <i *ngIf="!registerForm.get('name')?.errors  && nameInput.value.length > 0"
              class="fa-solid text-success fa-check"></i>
            <i *ngIf="registerForm.get('name')?.errors && (nameInput.value.length > 0 || registerForm.get('name')?.touched) "
              class="fa-solid text-danger fa-xmark"></i>
          </div>
        </label>
        <input #nameInput class="form-control" formControlName="name" type="text" id="name" [ngClass]="{
            'is-invalid': registerForm.get('name')?.errors && (nameInput.value.length > 0 || registerForm.get('name')?.touched),
            'is-valid':!registerForm.get('name')?.errors && nameInput.value.length > 0
          }">
        <div class="mx-auto mt-3 w-50 mx-auto text-center ErrorsContainer">
          <p *ngIf="registerForm.get('name')?.getError('required') && registerForm.get('name')?.touched"
            class="alert alert-danger">required</p>
          <p *ngIf="registerForm.get('name')?.getError('minlength') && nameInput.value.length > 0"
            class="alert alert-danger">Name Min Length 3</p>
          <p *ngIf="registerForm.get('name')?.getError('maxlength')  && nameInput.value.length > 0"
            class="alert alert-danger">Name Max Length 20</p>
        </div>
      </div>
      <div>
        <label class="d-flex justify-content-between align-items-center" for="email">
          <span class="fw-bold">Email:</span>
          <div>
            <i *ngIf="!registerForm.get('email')?.errors  && emailInput.value.length > 0"
              class="fa-solid text-success fa-check"></i>
            <i *ngIf="registerForm.get('email')?.errors && (emailInput.value.length > 0 || registerForm.get('email')?.touched) "
              class="fa-solid text-danger fa-xmark"></i>
          </div>
        </label>
        <input #emailInput class="form-control" formControlName="email" type="email" id="email" [ngClass]="{
            'is-invalid': registerForm.get('email')?.errors && (emailInput.value.length > 0 || registerForm.get('email')?.touched),
            'is-valid':!registerForm.get('email')?.errors && emailInput.value.length > 0
          }">
        <div class="mx-auto mt-3 w-50 mx-auto text-center ErrorsContainer">
          <p *ngIf="registerForm.get('email')?.getError('required') && registerForm.get('email')?.touched"
            class="alert alert-danger">required</p>
          <p *ngIf="registerForm.get('email')?.getError('email') && emailInput.value.length > 0"
            class="alert alert-danger">email InValid Format</p>
        </div>
      </div>
      <div>
        <label class="d-flex justify-content-between align-items-center" for="password">
          <span class="fw-bold">password:</span>
          <div>
            <i *ngIf="!registerForm.get('password')?.errors  && passwordInput.value.length > 0"
              class="fa-solid text-success fa-check"></i>
            <i *ngIf="registerForm.get('password')?.errors && (passwordInput.value.length > 0 || registerForm.get('password')?.touched) "
              class="fa-solid text-danger fa-xmark"></i>
          </div>
        </label>
        <input #passwordInput class="form-control" formControlName="password" type="password" id="password" [ngClass]="{
            'is-invalid': registerForm.get('password')?.errors && (passwordInput.value.length > 0 || registerForm.get('password')?.touched),
            'is-valid':!registerForm.get('password')?.errors && passwordInput.value.length > 0
          }">
        <div class="mx-auto mt-3 w-50 mx-auto text-center ErrorsContainer">
          <p *ngIf="registerForm.get('password')?.getError('required') && registerForm.get('password')?.touched"
            class="alert alert-danger">required</p>
          <p *ngIf="registerForm.get('password')?.getError('pattern') && passwordInput.value.length > 0"
            class="alert alert-danger">password must start with upperCase then must be at least 6 chars</p>
        </div>
      </div>
      <div>
        <label class="d-flex justify-content-between align-items-center" for="rePassword">
          <span class="fw-bold">rePassword:</span>
          <div>
            <i *ngIf="!registerForm.get('rePassword')?.errors  && rePasswordInput.value.length > 0"
              class="fa-solid text-success fa-check"></i>
            <i *ngIf="registerForm.get('rePassword')?.errors && (rePasswordInput.value.length > 0 || registerForm.get('rePassword')?.touched) "
              class="fa-solid text-danger fa-xmark"></i>
          </div>
        </label>
        <input #rePasswordInput class="form-control" formControlName="rePassword" type="password" id="rePassword"
          [ngClass]="{
            'is-invalid': registerForm.get('rePassword')?.errors && (rePasswordInput.value.length > 0 || registerForm.get('rePassword')?.touched),
            'is-valid':!registerForm.get('rePassword')?.errors && rePasswordInput.value.length > 0
          }">
        <div class="mx-auto mt-3 w-50 mx-auto text-center ErrorsContainer">
          <p *ngIf="registerForm.get('rePassword')?.getError('required') && registerForm.get('rePassword')?.touched"
            class="alert alert-danger">required</p>
          <p *ngIf="registerForm.get('rePassword')?.getError('notMatch') && rePasswordInput.value.length > 0"
            class="alert alert-danger">password not match</p>
        </div>
      </div>
      <div>
        <label class="d-flex justify-content-between align-items-center" for="phone">
          <span class="fw-bold">Phone:</span>
          <div>
            <i *ngIf="!registerForm.get('phone')?.errors  && PhoneInput.value.length > 0"
              class="fa-solid text-success fa-check"></i>
            <i *ngIf="registerForm.get('phone')?.errors && (PhoneInput.value.length > 0 || registerForm.get('phone')?.touched) "
              class="fa-solid text-danger fa-xmark"></i>
          </div>
        </label>
        <input #PhoneInput class="form-control" formControlName="phone" type="tel" id="phone" [ngClass]="{
            'is-invalid': registerForm.get('phone')?.errors && (PhoneInput.value.length > 0 || registerForm.get('phone')?.touched),
            'is-valid':!registerForm.get('phone')?.errors && PhoneInput.value.length > 0
          }">
        <div class="mx-auto mt-3 w-50 mx-auto text-center ErrorsContainer">
          <p *ngIf="registerForm.get('phone')?.getError('required') && registerForm.get('phone')?.touched"
            class="alert alert-danger">required</p>
          <p *ngIf="registerForm.get('phone')?.getError('pattern') && PhoneInput.value.length > 0"
            class="alert alert-danger">password must start with upperCase then must be at least 6 chars</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-start">
        <span *ngIf="accountAreadyExistsMessage" class="alert alert-danger">{{accountAreadyExistsMessage}} </span>
        <button [disabled]="registerForm.invalid || isLoading" class="btn-main d-block ms-auto mb-3">
          <span *ngIf="isLoading" class="faspin"><i class="fas fa-spinner fa-spin"></i></span>
          <span>Register</span>
        </button>
      </div>
      <p class="text-center">already have an account? <a routerLink="/login" class="text-decoration-underline">LogIn
          Now</a></p>
    </form>
  </div>
</section>



<div (click)="finishChangePassword()" *ngIf="finishChangePasswordFlag"
  class="lightBox d-flex justify-content-center align-items-center p-2">
  <div class="lighBoxContent bg-light p-5 rounded-5">
    <h2 class="text-main">Success</h2>
    <p>Welcome <span class="text-main fw-bolder fs-5 text-uppercase">{{userName}}</span> you have successflly Registerd
      now you
      can LogIn</p>
    <button class="btn-main d-block ms-auto">Ok</button>
  </div>
</div>