<footer class="bg-main-light py-5">
  <div class="container">
    <h2 class="h4">Get the FreshCart app</h2>
    <h4 class="h6 text-muted">We will send you a link, open it on your phone to download the app.</h4>
    <div class="row">
      <div class="col-10">
        <input class="form-control" type="email" placeholder="Email ..">
      </div>
      <div class="col-2">
        <button class="w-100 btn-main">Share App Link</button>
      </div>
    </div>
    <hr />
    <div class="row justify-content-between">
      <div class="col-4 d-flex align-items-center">
        <p class="fw-bold mb-0 me-2">Payment Partners</p>
        <div>
          <img [style]="'width:40px;'" src="./assets/images/visa-1.svg" alt="">
          <img [style]="'width:40px;'" src="./assets/images/master.svg" alt="">
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <p class="fw-bold mb-0 me-2">Get deliveries with FreshCart</p>

        <div>
          <img [style]="'width:40px;'" src="./assets/images/app-store.svg" alt="">
          <img [style]="'width:40px;'" src="./assets/images/google-store.svg" alt="">

        </div>
      </div>
    </div>
    <hr />
  </div>
</footer>