<section>
  <div class="container p-4 bg-main-light rounded-3 my-4">
    <div [ngClass]="{'d-none':success}" class=" layer">
      <div class="content">
        <div><img src="./assets/images/freshcart-logo.svg" alt=""></div>
        <div>
          <i class="fas fa-spinner text-main fa-spin fa-2x"></i>
        </div>
        <p>WelCome <span class="text-main">Back</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 border-end border-4 p-3">
        <div class=" ">
          <ol>
            <li>
              <p class="text-muted fw-bolder">User Email: <span *ngIf="emailValidBoolean"><i
                    class="fa-solid fa-check"></i></span>
              </p>
            </li>
            <li *ngIf="showLI">
              <p class="text-muted fw-bolder">Verify Reset Code: <span *ngIf="emailValidBoolean2"><i
                    class="fa-solid fa-check"></i></span></p>
            </li>
            <li *ngIf="codeConfirmed">
              <p class="text-muted fw-bolder">Reset Password: <span *ngIf="!success"><i
                    class="fa-solid fa-check"></i></span>
              </p>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-9 p-3 px-5">
        <!-- email -->
        <div *ngIf="!emailStuts" class="sectionPup">
          <h2 class="h5 fw-semibold text-muted">Enter your email and we'll send you instructions on how to reset your
            password:</h2>
          <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmailtoVerify()">
            <div class="my-4">
              <div class="d-flex justify-content-between align-items-center">
                <label class="mb-2" for="email"><span class="text-danger">*</span>Email:</label>
                <div class="ErrorsContainer">
                  <p *ngIf="sendEmailForm.get('email')?.getError('required') && sendEmailForm.get('email')?.touched"
                    class="mb-2 text-danger text-end">required <i class="fa-solid fa-xmark"></i></p>
                  <p *ngIf="sendEmailForm.get('email')?.getError('email')" class="mb-2 text-danger text-end">email
                    address is
                    invalid <i class="fa-solid fa-xmark"></i></p>
                  <p [class]="emailValidBoolean?'text-main':'text-danger'" class="fw-bold mb-2 text-end">
                    {{emailValid}}
                    <span *ngIf="emailValidBoolean">successfully! </span>
                  </p>
                </div>
              </div>
              <input formControlName="email" id="email" placeholder="ex. aaaa@aaa.aa" type="emial" class="form-control">
            </div>
            <button [disabled]="!sendEmailForm.valid || isLoading" class="btn-main d-block ms-auto">
              <span *ngIf="isLoading" class="faspin"><i class="fas fa-spinner fa-spin"></i></span> Send Code</button>
          </form>
        </div>
        <!-- verify code -->
        <div *ngIf="lastForm">
          <div *ngIf="emailStuts" class="sectionPup">
            <h2 class="h3 text-center fw-semibold text-muted p-4 pb-2">Enter your code</h2>
            <p class="text-muted text-center">We need to confirm that you authorized changes to your account</p>
            <form [formGroup]="userVerifyCodeForm" (ngSubmit)="sendUserVirefyCode()">
              <div class="my-4 bg-light rounded-3 p-4">
                <label class="mb-4" for="code">
                  We've sent a text message to ***{{userEmail}}*** with your authentication code:
                </label>
                <p class="mb-2 text-danger text-end"
                  *ngIf="userVerifyCodeForm.get('resetCode')?.getError('required')  && userVerifyCodeForm.get('resetCode')?.touched">
                  required <i class="fa-solid fa-xmark"></i></p>
                <p class="mb-2 text-danger text-end" *ngIf="userVerifyCodeForm.get('resetCode')?.getError('pattern')">
                  Reset code is invalid must be 6 numbers</p>
                <p [class]="emailValidBoolean2?'text-main':'text-danger'" class="fw-bold mb-2 text-end">
                  {{codeValid}}
                  <span *ngIf="emailValidBoolean2">successfully! </span>
                </p>
                <input formControlName="resetCode" id="code" placeholder="000000" type="text" class="form-control">
              </div>

              <button [disabled]="userVerifyCodeForm.invalid || isLoading2" class="btn-main d-block m-auto"> <span
                  *ngIf="isLoading2" class="faspin"><i class="fas fa-spinner fa-spin"></i></span> Verify
                code</button>

            </form>
            <button [disabled]="sendTimeOutFlag" (click)="sendCodeAgain()" class="btn border-0 d-block m-auto"><span
                class="text-primary sendCode">send
                another code <span *ngIf="sendTimeOutFlag">in {{sendTimeOut}}</span></span></button>
          </div>
        </div>
        <!-- password -->
        <div *ngIf="!lastForm" class="sectionPup">
          <h2 class="h3 text-center fw-semibold text-muted p-4 pb-2">Reset Your Password</h2>
          <p class="text-muted fw-bold">Please use strong password</p>
          <form [formGroup]="newPasswordForm" (ngSubmit)="sendNewPassword()">
            <div class="my-4 bg-light rounded-3 p-4">
              <div class="d-flex justify-content-center align-items-center">
                <label class="mb-2 fw-bold" for="password">
                  New Password
                </label>
                <p *ngIf="newPasswordForm.get('newPassword')?.getError('pattern') || Password.value.length < 0"
                  class="mb-2 fw-bold text-danger">password must start with upperCase then from 6 to 10 </p>
                <p *ngIf="!success" class="text-main fs-4 fw-bold opacity-75">Great!</p>
              </div>
              <input [ngClass]="{'is-valid':rePassword.value.length > 0 && repasswordAlert}" #Password
                formControlName="newPassword" id="password" placeholder="Aa000000" type="password" class="form-control">
            </div>
            <div class="my-4 bg-light rounded-3 p-4">
              <div class="d-flex justify-content-between align-items-center">
                <label class="mb-2 fw-bold" for="rePassword">
                  rePassword
                </label>
                <p *ngIf="rePassword.value.length > 0 && !repasswordAlert" class="mb-2 fw-bold text-danger">password
                  dosen't match</p>
              </div>
              <input [ngClass]="{'is-valid':rePassword.value.length > 0 && repasswordAlert}" #rePassword
                (input)="validitonPassword(Password , rePassword)" id="rePassword" placeholder="Aa000000"
                type="password" class="form-control">
            </div>
            <button [disabled]="!repasswordAlert && newPasswordForm.invalid && isLoading3"
              class="btn-main d-block ms-auto">
              <span *ngIf="isLoading3" class="faspin"><i class="fas fa-spinner fa-spin"></i></span>
              Submit</button>
          </form>
        </div>
      </div>
    </div>
    <p class="mt-4 ps-3">
      need help?
      <a class="text-main Btn-help" href="mailto:muhamedhajajii@gmail.com">Contact us</a>
    </p>
  </div>
</section>