.sendCode:hover {
  text-decoration: underline !important;
}


.Btn-help {
  text-decoration: underline;
}

.Btn-help:hover {
  text-decoration: none;
  color: var(--main-color);
}

.faspin {
  animation: 2s infinite spiinerPadding;
}

@keyframes spiinerPadding {
  from {
    padding-right: 0px;
  }

  to {
    padding-right: 30px;

  }
}

.sectionPup {
  opacity: 0;
  animation: erroeMessage 0.8s forwards;
}

.ErrorsContainer p {
  opacity: 0;
  animation: erroeMessage 0.5s forwards;
}

@keyframes erroeMessage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.layer img {
  width: 200%;
  transform: translateX(-25%);
}

.layer {
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  inset: 0;
  background-color: var(--light-color);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.layer {
  transform: scale(0.2);
  opacity: 0;
  border-radius: 50%;
  animation: loading 1s forwards;
}

@keyframes loading {
  from {
    transform: scale(0.2);
    opacity: 0;
    border-radius: 50%;

  }

  to {
    border-radius: 0;
    transform: scale(1);
    opacity: 1;

  }
}