.testInput:focus {
  animation: widthFouces 0.5s forwards;
  box-shadow: 0 0 0 0.03rem var(--main-color);
}

.testInput {
  animation: widthBlur 0.5s forwards;
  border-color: var(--main-color);
}

.searchList {
  width: 300% !important;
  height: 600px;
  margin-top: 20px;
}



.searchList>div {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: gold;
  opacity: 0;
  transform: translateY(20px);
}

:has(.testInput:focus) .searchList>div {
  animation: sserachList 0.5s forwards;
}


@keyframes sserachList {
  from {
    opacity: 0;
    transform: translateY(20px);

  }

  to {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes widthFouces {
  from {
    width: 50%;
  }

  to {
    width: 100%;
  }
}

@keyframes widthBlur {
  from {
    width: 100%;
  }

  to {
    width: 50%;
  }
}

/* results */
.sliderParent {
  width: 400%;
  opacity: 0;
  transition: 0.3s all;
  cursor: pointer;
}

.fs-8 {
  font-size: 12px;
}

.col {
  opacity: 0;
  animation: 0.5s showproduct forwards alternate;
}

@keyframes showproduct {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.parent:hover .sliderParent {
  animation: slider 8s forwards infinite linear;
}

.parent>div {
  transition: 0.5s all;
  border: solid 5px transparent;
  padding: 20px;
}

.parent:hover>div {
  border: solid 5px var(--main-color);
  border-radius: 5px;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  5% {
    opacity: 1;
    transform: translateX(0);
  }

  25% {
    opacity: 1;
    transform: translateX(0);

  }

  30% {
    opacity: 1;
    transform: translateX(-25%);

  }

  50% {
    opacity: 1;
    transform: translateX(-25%);

  }

  55% {
    opacity: 1;
    transform: translateX(-50%);

  }

  75% {
    opacity: 1;
    transform: translateX(-50%);

  }

  80% {
    opacity: 1;
    transform: translateX(-75%);

  }

  100% {
    opacity: 1;
    transform: translateX(-75%);

  }
}

.offer {
  position: absolute;
  font-weight: bold;
  color: white;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 50%;
  z-index: 999;
}