<header class="fixed-top bg-light shadow-sm">

  <div #navMainCounters class="container">
    <div class="py-2 d-flex justify-content-between align-items-center">
      <a class="navbar-brand" routerLink="home"><img src="./assets/images/freshcart-logo.svg"
          alt="fresh market logo"></a>
      <ul class="list-unstyled d-flex align-items-center mb-0">
        <!-- Truck -->
        <li *ngIf="truckCount" class="position-relative flex-grow-0 p-2  me-2">
          <button routerLink="/allorders" class="btn"> <span class="p-1 d-none d-lg-inline position-relative">track your
              orders <span class="position-absolute top-0 start-0 translate-middle"
                [style]="'color: var(--main-color);'"><i class="fa-solid fa-share"></i></span></span>
            <i class="fa-solid fa-2x fa-truck text-main cart"></i>
            <span class="badge bg-danger position-absolute p-2 top-0 end-0 cart">{{truckCount}}</span>
          </button>
        </li>
        <!-- Wish List -->
        <li *ngIf="wishList" class="position-relative flex-grow-0 p-2 cart  me-2">
          <button routerLink="/wishlist" class="btn">
            <i class="fa-solid fa-heart fa-2x text-main"></i>
            <span class="badge bg-danger position-absolute p-2 top-0 end-0">{{wishList}}</span>
          </button>
        </li>
        <!-- Cart -->
        <li *ngIf="cartCount" class="position-relative flex-grow-0 p-2 cart me-2">
          <button routerLink="/cart" class="btn">
            <i class="fa-solid fa-2x fa-cart-shopping text-main"></i>
            <span class="badge bg-danger position-absolute p-2 top-0 end-0">{{cartCount}}</span>
          </button>
        </li>
        <!-- Sign Out Session -->
        <li class="nav-item dropdown ms-3 flex-grow-1 cursor-pointer signOut first position-relative">
          <a class="nav-link dropdown-toggle-split d-flex justify-content-between align-items-center" href="#"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span><i class="fa-solid fa-user"></i></span>
            <span class="text-white fw-bold mx-2 d-none d-md-inline">
              {{userName}}</span>
          </a>
          <ul class="dropdown-menu text-center mt-3">
            <button routerLink="/settings"
              class=" btn-dark border btn px-4 text-decoration-underline my-2">Settings</button>
            <button class=" btn-warning border btn px-4 text-decoration-underline my-2"
              (click)="singOut()">SignOut</button>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div #navBanner class="position-relative">
    <img class="w-100 banarImage" src="./assets/images/paymob00_topstrip_ar_web.jpg" alt="">
    <div class="layer"></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse  navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-4 mt-lg-0">
          <li class="nav-item">
            <a routerLink="home" routerLinkActive="active-link" class="nav-link  p-2 text-capitalize">home</a>
          </li>
          <li class="nav-item">
            <a routerLink="cart" routerLinkActive="active-link" class="nav-link  p-2 text-capitalize">cart</a>
          </li>
          <li class="nav-item">
            <a routerLink="products" routerLinkActive="active-link" class="nav-link  p-2 text-capitalize">products</a>
          </li>

          <li class="nav-item">
            <a routerLink="brands" routerLinkActive="active-link" class="nav-link  p-2 text-capitalize">brands</a>
          </li>
          <li class="nav-item">
            <a routerLink="categories" routerLinkActive="active-link"
              class="nav-link  p-2 text-capitalize">categories</a>
          </li>
          <li class="nav-item dropdownCategories  dropdown mx-2 d-none d-lg-flex">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu dropdownCategoriesChild">

              <li class="nav-item dropend subcategoriesUl">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  subcategories
                </a>
                <ul class="dropdown-menu categoriesUl">
                  <app-allsupcategories></app-allsupcategories>
                </ul>
              </li>
              <li>
                <ul class="list-unstyled categoriesUl">
                  <app-subcategories></app-subcategories>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item ms-0 ms-lg-2 d-none d-xl-block">
            <app-main-search-bar></app-main-search-bar>
          </li>
        </ul>






        <ul #navSocialIcons class="navbar-nav mb-0 flex-row justify-content-center gap-2 mt-2 mt-lg-0">
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fab fa-tiktok"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
      <ul #navCounters class="d-none mt-2 list-unstyled d-flex pe-3 align-items-center justify-content-end mb-0">
        <!-- Truck -->
        <li *ngIf="truckCount" class="position-relative flex-grow-0 p-2">
          <button routerLink="/allorders" class="btn"> <span class="p-1 d-none d-lg-inline position-relative">track
              your
              orders <span class="position-absolute top-0 start-0 translate-middle"
                [style]="'color: var(--main-color);'"><i class="fa-solid fa-share"></i></span></span>
            <i class="fa-solid fa-2x fa-truck text-main cart"></i>
            <span class="badge bg-danger position-absolute p-2 top-0 end-0 cart">{{truckCount}}</span>
          </button>
        </li>
        <!-- Wish List -->
        <li *ngIf="wishList" class="position-relative flex-grow-0 p-2 cart">
          <button routerLink="/wishlist" class="btn">
            <i class="fa-solid fa-heart fa-2x text-main"></i>
            <span class="badge bg-danger position-absolute p-2 top-0 end-0">{{wishList}}</span>
          </button>
        </li>
        <!-- Cart -->
        <li *ngIf="cartCount" class="position-relative flex-grow-0 p-2 cart">
          <button routerLink="/cart" class="btn">
            <i class="fa-solid fa-2x fa-cart-shopping text-main"></i>
            <span class="badge bg-danger position-absolute p-2 top-0 end-0">{{cartCount}}</span>
          </button>
        </li>
      </ul>
      <!-- Sign Out Session -->
      <li class="nav-item dropstart ms-auto mt-2 cursor-pointer w-auto signOut two position-relative">
        <a class="nav-link dropdown-toggle-split d-flex justify-content-between align-items-center" href="#"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span><i class="fa-solid fa-user"></i></span>
          <span class="text-white fw-bold mx-2 d-none d-md-inline">
            {{userName}}</span>
        </a>
        <ul class="dropdown-menu text-center mt-3">
          <button routerLink="/settings"
            class=" btn-dark border btn px-4 text-decoration-underline my-2">Settings</button>
          <button class=" btn-warning border btn px-4 text-decoration-underline my-2"
            (click)="singOut()">SignOut</button>
        </ul>
      </li>
    </div>
  </nav>


</header>