<section class="my-5">
  <div class="container">
    <h2 class="fw-bolder">All Brands</h2>
    <ng-container *ngIf="allBrands">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-5">
        <div *ngFor="let item of allBrands.data; index as i" class="col p-4 position-relative parent overflow-hidden">
          <div [routerLink]="['/details', item]" class="product p-3 child cursor-pointer">
            <div class="">
              <div class="position-relative overflow-hidden">
                <img class="w-100 rounded-3" [src]="item.image" [alt]="item.name">
              </div>
              <hr />
              <div class="d-flex flex-column">
                <div>
                  <p class="fw-bold h5">{{item.name}}</p>
                  <h2 [style]="'color:var(--main-color);'" class="fw-bolder h6">{{item.slug }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>