.col {
  opacity: 0;
  animation: 0.5s showproduct forwards alternate;
}

@keyframes showproduct {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.parent>div {
  transition: 0.5s all;
  border: solid 5px transparent;
  padding: 20px;
}

.parent:hover>div {
  border: solid 5px var(--main-color);
  border-radius: 5px;
}