<section class="my-5 ">
  <ng-container *ngIf="!isLoading">
    <div class="container">
      <div class="row">
        <div class="col col-lg-4 text-center position-relative">
          <div>
            <div class="px-1 py-4 rounded-4 shadow position-relative">
              <span class="offer bg-danger">-{{currentoffer}}%</span>
              <div>
                <img #currentImage class="imagePaernt" [style]="'width:300px;'" [src]="productDetails.data.images[0]"
                  [alt]="productDetails.data.title">
              </div>
              <div>
                <img #firstImage (click)="changeMainPic(currentImage,firstImage)" class="imagesSlider"
                  [src]="productDetails.data.images[1] ? productDetails.data.images[1]:productDetails.data.images[0]"
                  [alt]="productDetails.data.title">
                <img #secondImage (click)="changeMainPic(currentImage,secondImage)" class="imagesSlider"
                  [src]="productDetails.data.images[2] ? productDetails.data.images[2]:productDetails.data.images[0]"
                  [alt]="productDetails.data.title">
                <img #thirdImage (click)="changeMainPic(currentImage,thirdImage)" class="imagesSlider"
                  [src]="productDetails.data.images[3]?productDetails.data.images[3]:productDetails.data.images[0]"
                  [alt]="productDetails.data.title">
              </div>
            </div>
          </div>
          <div class="position-absolute p-3 top-0 start-0 m-3">
            <button *ngIf="!currentWishList.includes($any(productDetails.data._id))"
              (click)="addToWishList(productDetails.data._id)"
              class="wishListBtn btn-main d-flex justify-content-center align-items-center "><i
                class="fa-regular fa-heart fa-lg"></i></button>

            <button *ngIf="currentWishList.includes($any(productDetails.data._id))"
              (click)="removeFromWishList(productDetails.data._id)"
              class="wishListBtn btn-danger btn d-flex justify-content-center align-items-center "><i
                class="fa-solid fa-heart fa-lg"></i></button>

          </div>
        </div>
        <div class="col col-lg-8 position-relative">
          <div class="p-4">
            <p class="fw-bolder">{{productDetails.data.description}}</p>
            <h2 class="mb-3 h4 fw-bold">{{productDetails.data.title}}</h2>
            <p><span class="fw-bold">Available in Stock : </span>{{productDetails.data.quantity}}</p>
            <p><span class="fw-bold">reviews : </span>{{productDetails.data.ratingsAverage}} <i
                *ngFor="let item of [1,2,3,4,5]"
                [class]="( productDetails.data.ratingsAverage > item) ?'fas rating-color fa-star':'fas fa-star'"></i>
              <!-- //fa-solid rating-color fa-star-half-stroke -->
            </p>
            <p><span class="fw-bold">Sold : </span> {{productDetails.data.sold / 2 }} <i
                class="fa-solid fa-bag-shopping"></i></p>
            <p><span class="fw-bold">Total Views : </span> {{productDetails.data.sold}} <i class="fa-solid fa-eye"></i>
            </p>
            <p class="fw-bold">{{productDetails.data.brand.name}}</p>
            <div class="parent" [routerLink]="['/specific-brand',productDetails.data.brand._id]"><img
                [src]="productDetails.data.brand.image" [alt]="productDetails.data.brand.name">
            </div>
            <hr />
            <p class="fw-bold">{{productDetails.data.category.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0 h4"><span
                  class="h6 text-decoration-line-through text-danger me-2">{{productDetails.data.price}}</span>{{productDetails.data.price
                +(productDetails.data.price *
                (getOffers(0,[productDetails.data],productDetails.data.category.name)/100))
                | number}} EGP</p>
              <div class="d-flex justify-content-center align-items-center">
                <i class="fas fa-star rating-color"></i>
                <p class="m-0 ms-2"> {{productDetails.data.ratingsAverage}}</p>
              </div>
            </div>
            <button (click)="addToCart(productDetails.data._id)" class=" mt-1 d-block w-100 btn-main">+ add to
              cart</button>
          </div>
        </div>

      </div>
    </div>
  </ng-container>

</section>