:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh !important;
}

.main-section {
  padding-top: 188px;
}

::selection {
  background-color: transparent;

}

img {
  width: 200%;
  transform: translateX(-25%);
}

span {
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999;
}