<section class="my-3">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-9">

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img class="w-100" style="height: 400px;" src="./assets/images/main-slider-1.jpeg"
              alt="slider"></ng-template>
          <ng-template carouselSlide><img class="w-100" style="height: 400px;" src="./assets/images/main-slider-2.jpeg"
              alt="slider"></ng-template>
          <ng-template carouselSlide><img class="w-100" style="height: 400px;" src="./assets/images/main-slider-3.jpeg"
              alt="slider"></ng-template>
        </owl-carousel-o>

      </div>
      <div class="col-md-3">
        <div>
          <img style="height: 200px;" src="./assets/images/main-slider-1.jpeg" class="w-100" alt="">
          <img style="height: 200px;" src="./assets/images/main-slider-3.jpeg" class="w-100" alt="">
        </div>
      </div>
    </div>
  </div>
</section>