<section class="my-5">
  <div class="container">
    <ng-container *ngIf="!productsLoaded">
      <div class="row align-items-center">
        <h2>Wish List <span><i class=" ms-3 opacity-75 text-danger fas fa-heart"></i></span></h2>
        <div class="col-12 col-md-6">
        </div>
        <div class="fw-bolder col-12 col-md-6">
          <div class="d-flex justify-content-between mt-2 mt-md-0 justify-content-md-end">
            <div class=" d-none d-md-block">
              <button (click)="changedisplayClicOne()" [disabled]="changeDisplay" class="btn border-0 p-2"><i
                  class="fa-solid fa-bars fa-2x"></i></button>
              <button (click)="changedisplayClicTwo()" [disabled]="!changeDisplay" class="btn border-0 p-2"><i
                  class="fa-solid fa-table-cells fa-2x"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{
        'row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4':changeDisplay,
        'row-cols-1':!changeDisplay
        }" class="row mt-5">
        <div *ngFor="let item of homeProducts ; index as i"
          class="col-12 p-4 shadow-sm position-relative parent overflow-hidden">
          <div [routerLink]="['/details', item._id]" class="child cursor-pointer contentContainer">
            <span class="offer bg-danger">-{{ getOffer(i , homeProducts)}}%</span>
            <div [ngClass]="{'row':!changeDisplay}">
              <div [ngClass]="{'col-3':!changeDisplay}" class="position-relative overflow-hidden h-100">
                <img class="w-100" [src]="item.imageCover" [alt]="item.category.name">
                <div
                  class=" position-absolute top-0 end-0 bottom-0 start-0 d-flex justify-content-center align-items-center overflow-hidden sliderParent">
                  <img class="w-100 h-100"
                    [src]="'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[2]?'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[2]:'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[0]"
                    [alt]="item.category.name">
                  <img class="w-100 h-100"
                    [src]="'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[0]?'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[0]:'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[0]"
                    [alt]="item.category.name">
                  <img class="w-100 h-100"
                    [src]="'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[1]?'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[1]:'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[0]"
                    [alt]="item.category.name">
                  <img class="w-100 h-100"
                    [src]="'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[3] ? 'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[3] :'https://ecommerce.routemisr.com/Route-Academy-products/'+item.images[0] "
                    [alt]="item.category.name">
                </div>
              </div>
              <ng-container *ngIf="changeDisplay">
                <hr />
              </ng-container>

              <div [ngClass]="{'col-9 justify-content-between':!changeDisplay}" class="d-flex flex-column">
                <div>
                  <p class="fw-bold">{{item.category.name}}</p>
                  <ng-container *ngIf="!changeDisplay">
                    <p class="text-muted">{{item.description}}</p>
                    <p><span class="fw-bold">reviews : </span>{{item.ratingsAverage}} <i class="fa-solid fa-eye"></i>
                    </p>
                    <p><span class="fw-bold">Sold : </span> {{item.sold}} <i class="fa-solid fa-bag-shopping"></i>
                    </p>
                  </ng-container>

                  <h2 class="fw-bolder h6">
                    {{item.title | textterm:changeDisplay ?2:20 }}
                  </h2>
                </div>
                <div>
                  <p class="mb-0 text-decoration-line-through text-danger fs-8">
                    EGP
                    {{item.price}}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0 d-flex justify-content-start align-items-center">
                      <span class="h6 fw-bolder d-flex justify-content-center align-items-center mb-0">
                        <span class="me-1">EGP</span>
                        <span>{{item.price
                          +item.price
                          * (getOffer(i , homeProducts)/100) | number}}</span>
                      </span>
                    </p>
                    <div class="d-flex justify-content-end align-items-center">
                      <i [style]="'color:yellow;'" class="fas fa-star"></i>
                      {{item.ratingsAverage}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2 p-3">
            <button (click)="addToCart(item._id)" class="col-9 d-block btn-main">Add To Cart</button>
            <div class="px-2 col-3 ">
              <button (click)="removeFromWishList(item._id)"
                class=" btn-danger wishListBtn btn w-100 h-100 d-flex justify-content-center align-items-center "><i
                  class="fa-regular fa-heart fa-lg"></i> <i class="fa-solid fa-lg fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</section>